In [18]:
import pandas as pd
import time
import numpy as np
from datetime import datetime

In [32]:
df = pd.read_csv('/Users/advait_t/Desktop/Jio/Stock_Prediction/Stock_Prediction/data/final/error_df1ITC.NS.csv')
df.tail()

,Date,Actual_Close,Predicted_Close,Predicted_Close_Minimum,Predicted_Close_Maximum,Percent_Change_from_Close,Actual_Up_Down,Predicted_Up_Down,Company
45,2022-09-07,327.899994,336.965541,327.291411,346.212697,-2.764729,Down,Down,ITC.NS
46,2022-09-08,NaN,334.426330,324.396771,344.506276,NaN,Down,Down,ITC.NS
47,2022-09-09,330.500000,337.477638,327.943744,347.532571,-2.111237,Down,Up,ITC.NS
48,2022-09-12,330.700012,340.386257,330.434030,351.211982,-2.929013,Down,Down,ITC.NS
49,2022-09-13,NaN,343.090985,332.906912,353.002745,NaN,Down,Up,ITC.NS

In [31]:
# # #! Check for null values in actual close and get its date
# null_values = df[df['Actual_Close'].isnull()]
# # add %H:%M:%S to get time as well
# null_values['Date'] = pd.to_datetime(null_values['Date'], format = '%Y-%m-%d %H:%M:%S')
# # convert to string
# null_values['Date'] = null_values['Date'].dt.strftime('%Y-%m-%d %H:%M:%S')
# null_values = null_values['Date'].to_list()

In [33]:
# Fetch stock price when there is a null value in actual price column
def fetch_stock_price(company, date):
    now = datetime.now()

    past = datetime.strptime(str(date), '%Y-%m-%d %H:%M:%S')
    past = past.replace(hour = now.hour, minute = now.minute, second = now.second, microsecond = now.second)
    past = int(time.mktime(past.timetuple()))
    
    interval = '1d'

    # defining the query to get historical stock data
    query_string = f'https://query1.finance.yahoo.com/v7/finance/download/{company}?period1={past}&period2={past}&interval={interval}&events=history&includeAdjustedClose=true'
    
    try:
        company_stock_price = pd.read_csv(query_string)
        company_stock_price = company_stock_price[['Date', 'Close']]
        return company_stock_price['Close'][0]
    except:
        return None

def update_actual_close(df, company):
    #! Check for null values in actual close and get its date
    null_values = df[df['Actual_Close'].isnull()]
    # add %H:%M:%S to get time as well
    null_values['Date'] = pd.to_datetime(null_values['Date'], format = '%Y-%m-%d %H:%M:%S')
    # convert to string
    null_values['Date'] = null_values['Date'].dt.strftime('%Y-%m-%d %H:%M:%S')
    null_values = null_values['Date'].to_list()

    for date in null_values:
        stock_price = fetch_stock_price(company, date)
        # remove time from date
        date = date.split(' ')[0]
        # append to dataframe
        df.loc[df['Date'] == date, 'Actual_Close'] = stock_price
        # calculate percent change from close for the date in null_values
        df.loc[df['Date'] == date, 'Percent_Change_from_Close'] = (df.loc[df['Date'] == date, 'Predicted_Close'] - df.loc[df['Date'] == date, 'Actual_Close'])/df.loc[df['Date'] == date, 'Actual_Close']

    df['Actual_Up_Down'] = np.where((df['Actual_Close'] > df['Actual_Close'].shift(-1)), 'Up', 'Down')
    df['Predicted_Up_Down'] = np.where((df['Predicted_Close'] > df['Actual_Close'].shift(-1)), 'Up', 'Down')

    return df

In [34]:
update_actual_close(df, 'ITC.NS')

/Users/advait_t/.pyenv/versions/3.7.3/lib/python3.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/advait_t/.pyenv/versions/3.7.3/lib/python3.7/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Actual_Close,Predicted_Close,Predicted_Close_Minimum,Predicted_Close_Maximum,Percent_Change_from_Close,Actual_Up_Down,Predicted_Up_Down,Company
0,2022-07-04,291.899994,NaN,NaN,NaN,NaN,Up,Down,ITC.NS
1,2022-07-05,286.899994,280.266958,271.719353,288.807245,2.311968,Down,Down,ITC.NS
2,2022-07-06,289.299988,282.532617,274.502030,290.236457,2.339223,Down,Down,ITC.NS
3,2022-07-07,291.950012,283.349795,274.079533,291.798510,2.945784,Down,Down,ITC.NS
4,2022-07-08,293.049988,283.643808,275.980434,291.614709,3.209753,Down,Down,ITC.NS
5,2022-07-11,295.000000,284.351308,276.362693,292.621246,3.609726,Up,Down,ITC.NS
6,2022-07-12,292.700012,284.535902,276.465611,292.791929,2.789241,Down,Down,ITC.NS
7,2022-07-13,294.049988,286.311465,277.823273,294.554911,2.631703,Up,Down,ITC.NS
8,2022-07-14,290.850006,288.909939,280.668226,297.403170,0.667034,Down,Down,ITC.NS
9,2022-07-15,293.549988,289.075030,280.969307,297.056535,1.524428,Down,Down,ITC.NS
10,2022-07-18,295.299988,295.359907,286.695882,303.874245,-0.020291,Up,Up,ITC.NS
11,2022-07-19,294.600006,297.491316,288.941645,306.002308,-0.981436,Down,Down,ITC.NS
12,2022-07-20,298.200012,297.464390,289.354550,305.301401,0.246687,Down,Down,ITC.NS
13,2022-07-21,299.549988,297.851423,289.571088,305.959194,0.567039,Down,Down,ITC.NS
14,2022-07-22,300.549988,301.015036,293.192121,309.540209,-0.154732,Down,Down,ITC.NS
15,2022-07-25,301.100006,306.087921,297.813464,314.513900,-1.656564,Down,Up,ITC.NS
16,2022-07-26,302.450012,305.259591,297.065495,313.838936,-0.928940,Down,Up,ITC.NS
17,2022-07-27,304.149994,306.280082,298.041401,314.840833,-0.700341,Up,Up,ITC.NS
18,2022-07-28,303.450012,307.324449,298.862808,315.427721,-1.276796,Up,Up,ITC.NS
19,2022-07-29,303.049988,310.399867,303.192398,318.879804,-2.425303,Down,Up,ITC.NS
20,2022-08-01,307.500000,313.752746,305.732569,322.203037,-2.033413,Down,Up,ITC.NS
21,2022-08-02,309.950012,318.152323,311.157681,327.007496,-2.646333,Up,Up,ITC.NS
22,2022-08-03,308.149994,320.812047,312.279367,329.091697,-4.109055,Down,Up,ITC.NS
23,2022-08-04,309.500000,321.381483,313.347261,329.918381,-3.838928,Down,Up,ITC.NS
24,2022-08-05,310.850006,323.492037,315.558255,331.807988,-4.066923,Down,Up,ITC.NS
25,2022-08-08,313.500000,326.257882,317.890246,335.400392,-4.069500,Up,Up,ITC.NS
26,2022-08-10,313.299988,329.036007,320.644655,337.041764,-5.022668,Up,Up,ITC.NS
27,2022-08-11,306.250000,329.693367,321.111531,336.702312,-7.655000,Down,Up,ITC.NS
28,2022-08-12,308.549988,330.098776,321.668571,338.293829,-6.983889,Down,Up,ITC.NS
29,2022-08-16,310.549988,330.168058,322.319170,339.034868,-6.317202,Down,Up,ITC.NS
30,2022-08-17,312.549988,332.440056,323.588417,341.376210,-6.363804,Down,Up,ITC.NS
31,2022-08-18,315.649994,328.600118,319.163457,338.160993,0.041027,Up,Up,ITC.NS
32,2022-08-19,312.000000,330.376114,320.884303,339.011327,-5.889780,Down,Up,ITC.NS
33,2022-08-22,314.399994,330.087599,320.845682,338.649048,-4.989696,Down,Up,ITC.NS
34,2022-08-23,315.899994,320.958941,312.463575,328.614282,-1.601440,Up,Up,ITC.NS
35,2022-08-24,314.100006,318.246462,309.614182,326.253052,-1.320107,Down,Up,ITC.NS
36,2022-08-25,315.950012,318.522194,310.142588,326.750835,-0.814110,Up,Up,ITC.NS
37,2022-08-26,312.899994,323.422821,314.877714,332.212759,-3.363000,Down,Up,ITC.NS
38,2022-08-29,313.549988,326.580272,317.192123,334.786754,-4.155728,Down,Up,ITC.NS
39,2022-08-30,320.500000,328.696283,320.173753,338.223588,-2.557343,Up,Up,ITC.NS
40,2022-09-01,317.600006,329.914690,321.850891,338.539566,-3.877419,Down,Up,ITC.NS
41,2022-09-02,322.399994,333.683473,325.214049,342.603148,-3.499838,Down,Down,ITC.NS
42,2022-09-03,NaN,357.703588,348.991394,367.065601,NaN,Down,Up,ITC.NS
43,2022-09-05,326.750000,336.932234,327.937688,346.402413,-3.116215,Down,Up,ITC.NS
44,2022-09-06,327.149994,337.329408,328.187620,346.737063,0.031115,Down,Up,ITC.NS
45,2022-09-07,327.899994,336.965541,327.291411,346.212697,-2.764729,Down,Up,ITC.NS
46,2022-09-08,329.899994,334.426330,324.396771,344.506276,0.013720,Down,Up,ITC.NS
47,2022-09-09,330.500000,337.477638,327.943744,347.532571,-2.111237,Down,Up,ITC.NS
48,2022-09-12,330.700012,340.386257,330.434030,351.211982,-2.929013,Down,Down,ITC.NS
49,2022-09-13,NaN,343.090985,332.906912,353.002745,NaN,Down,Down,ITC.NS

In [29]:
# # use the function to fetch stock price and append to the dataframe for that date
# for date in null_values:
#     stock_price = fetch_stock_price('ITC.NS', date)
#     # remove time from date
#     date = date.split(' ')[0]
#     # append to dataframe
#     df.loc[df['Date'] == date, 'Actual_Close'] = stock_price
#     # calculate percent change from close for the date in null_values
#     df.loc[df['Date'] == date, 'Percent_Change_from_Close'] = (df.loc[df['Date'] == date, 'Predicted_Close'] - df.loc[df['Date'] == date, 'Actual_Close'])/df.loc[df['Date'] == date, 'Actual_Close']

# df['Actual_Up_Down'] = np.where((df['Actual_Close'] > df['Actual_Close'].shift(-1)), 'Up', 'Down')
# df['Predicted_Up_Down'] = np.where((df['Predicted_Close'] > df['Actual_Close'].shift(-1)), 'Up', 'Down')

In [30]:
# df.tail(20)

In [35]:
error_df_path = '/Users/advait_t/Desktop/Jio/Stock_Prediction/Stock_Prediction/data/final/error_df1'
error_df_path + 'itc' + '.csv'

'/Users/advait_t/Desktop/Jio/Stock_Prediction/Stock_Prediction/data/final/error_df1itc.csv'